<!-- <div class="row mt-3 justify-content-center">
  <div class="col-auto mt-3 mt-md-0 text-center p-0">
      <a href="https://www.tsinghua.edu.cn/" title="THU logo"><img src="./assets/img/THU.jpg" style="max-width: 30%; height: auto;"></a>
  </div>
  <div class="col-auto mt-3 mt-md-0 text-center p-0">
      <a href="https://www.bupt.edu.cn/" title="BUPT logo"><img src="./assets/img/BUPT.jpg" style="max-width: 30%; height: auto;"></a>
  </div>
  <div class="col-auto mt-3 mt-md-0 text-center p-0">
      <a href="https://clustrmaps.com/site/1c0yy"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=3lqFlyZyZWUumS9HgVqzTINOrnBAIov0A3c2NYmHMoM&cl=ffffff" style="max-width: 40%; height: auto;"></a>
  </div>
</div> -->
<div class="row mt-3 justify-content-center">
  <div class="col-auto text-center p-0" style="max-height: 120px; margin-left: 0px; margin-right: 10px;">
      <a href="https://www.tsinghua.edu.cn/" title="Tsinghua University"><img src="//guoxuan-chi.github.io/assets/img/THU.jpg" style="max-height: 120px; margin: 10px; height: auto;"></a>
      <a href="https://www.bupt.edu.cn/" title="Beijing University of Posts and Telecommunications"><img src="//guoxuan-chi.github.io/assets/img/BUPT.jpg" style="max-height: 120px; margin: 10px; height: auto;"></a>
  </div>
  <div class="col-auto text-center p-0" style="max-height:120px; margin-left: 0px; margin: 10px;">
      <a href="https://clustrmaps.com/site/1c0yy" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=3lqFlyZyZWUumS9HgVqzTINOrnBAIov0A3c2NYmHMoM&cl=ffffff" style="max-height: 120px; height: auto;"></a>
  </div>
</div>


{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include scripts/newsletter.liquid %}
    {% endif %}

    <div class="container">
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
{% endif %}
